/*RESET*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*RESET*/


/*Body Start*/
 body{
     background-color: #7fffd4d8;
     font-family: "Nerko One";
 }

/*Body End*/


/*Container Start*/
 .container{
    width: 65%;
    margin: auto;
}
/*Container End*/


/*Header Start*/

header h1{
    font-size: 100px;
    text-align: center;
    color: white;
    border: 1px solid black;
}
/*Header End*/


/*Main Start*/



.cardscontainer{
    text-align: center;
    padding: 20px;

   
}




.card-size{
    height: 225px;
    width: 20%;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
    

}











/*Main End*/



