/*RESET*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*RESET*/


/*Body Start*/
 body {
     background-color: #add8e6;
     font-family: "Nerko One";
 }

/*Body End*/


/*Container Start*/
 .container {
    width: 65%;
    margin: auto;
}
/*Container End*/


/*Header Start*/

header h1 {
    font-size: 100px;
    text-align: center;
    color: white; 
}
/*Header End*/


/*Main Start*/



.cardsrow {
    text-align: center;
    padding: 20px;  
}


.cards {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.25);
    border-radius: 10px;
    height: 225px;
    width: 20%;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
    padding: 40px;
    position: relative;
    background-image: url(../img/pattern.png);
    background-size: contain;
    
}


.cards img {
    width: 100%;
    display: block;
    position: relative;
    bottom: 39px;  
}

.txt {
    color: blueviolet;
    font-size: 25px;
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;

}

.cards img, .txt {
    display: none; 

}

.cards:hover {
    background-image: none;

}

.cards:hover img {
    display: block;
}

 .cards:hover .txt {
    display: block;
}

.cards.none {
    
    background-image: none;
    
}

.salmon{
    color: salmon;
}

/*Main End*/

/*Footer Start*/

footer{
    text-align: center;
}


/*Footer End*/
